{% extends 'header.html' %}
{% block body %}

<title>About</title>
<div id="header-wrapper">
  <div id="header" class="container">

    <div class="rxlogo">
      <img src="../static/images/rx2ulogo.png" style="width: 130px; height: 85px;">
    </div>
    <div id="logo">
      <strong style="font-family: 'Comic Sans MS'; color: #ED7070;;font-weight: bolder; font-size: 45px"> Rx2U </strong><br>
    </div>

    <div id="menu">
      <ul>
        {% if username %}
        <li><a href="{{url_for('user')}}">Home</a></li>
        {% else %}
        <li><a href="{{url_for('home')}}">Home</a></li>
        {% endif %}
        <li><a href="{{url_for('requestpickup')}}">Rx Pickup</a></li>
        <li><a href="{{url_for('orderstatus')}}">Order Status</a></li>
        <li><a routerLink="/about" >About</a></li>
      </ul>
    </div>
  </div>

</div>

<div id="banner-wrapper">
  <div id="banner" class="container">
    <i style="font-weight: normal; font-size: large; font-family: fantasy">Prescriptions on wheels conveniently to you</i><br><br>
  </div>
</div>

<div id="wrapper">
  {% if username %}
  <p style="color: blue; padding-left:20px">Welcome {{username}}! <a href="{{url_for('home')}}">Logout</a></p>
  {% endif %}
  <div id="featured-wrapper">
    <div class="extra2 margin-btm container">

      <div style="text-align: left; padding-left: 100px">
        <h2>This app is built in:</h2> <br>
        <ul class="list">
          <li>
            Python/Flask framework, and app hosted in Heroku
          </li>
          <li>
            Neo4j Graph Database hosted in Google Compute Engine
          </li>
          <li>
            Cypher Query Language (CQL)
          </li>
        </ul>

        <h3>Other design, techniques, and tools used:</h3> <br>
        <ul class="list">
          <li>
            Single Page App (SPA)
          </li>
          <li>
            Flask project structure, MVC
          </li>
          <li>
            Py2neo connecting to Neo4J database
          </li>
          <li>
        Google Compute Engine (Neo4j cloud host) and Neo4j Desktop (local for dev)
        </li>
        </ul>

        <h3>Application:</h3> <br>
        <ul class="list">
          <li>
            "Prescriptions on wheels" is where users can create an Rx pickup job,
            which will have Uber pick up once Pharmacy completes the order, <br>
            and Uber will deliver to the users' doorsteps.
          </li>
        </ul>



      </div>
    </div >

  </div>
</div>

<div id="copyright" class="container">
  <p>&copy; Untitled. All rights reserved. | Photos by <a href="https://images.google.com/">GoogleImage</a> | Design by <a href="http://templated.co" rel="nofollow">TEMPLATED</a>.</p>
</div>

{% endblock %}
