<!doctype html>
<html lang="en">
<head>
  <title>Home</title>
  <meta charset="utf-8">

  <base href="/">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="{{url_for('static', filename='images/rx2ulogo.png')}}">
  <meta http-equiv="Content-Type" content="text/html" />
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" rel="stylesheet" />
  <link href="{{url_for('static', filename='default.css')}}" rel="stylesheet" type="text/css" media="all" />
  <link href="{{url_for('static', filename='fonts.css')}}" rel="stylesheet" type="text/css" media="all" />

</head>
<body>
{% block body %} {% endblock %}

</body>
</html>
