{% extends 'header.html' %}
{% block body %}

<!--The content below is only a placeholder and can be replaced.-->
<div id="header-wrapper">
  <div id="header" class="container">
    <div class="rxlogo">
     <img src="../static/images/rx2ulogo.png" style="width: 130px; height: 85px;">
   </div>

    </div>
    <div id="logo">
      <strong style="font-family: 'Comic Sans MS'; color: #ED7070;font-weight: bolder; font-size: 45px; padding: 0 0 0 70px;"> Rx2U </strong><br>
    </div>

    <div id="menu">
      <ul>
        <li><a href="{{url_for('home')}}">Home</a></li>
        <li><a href="{{url_for('requestpickup')}}">Rx Pickup</a></li>
        <li><a href="{{url_for('orderstatus')}}" >Order Status</a></li>
        <li><a href="{{url_for('about')}}">About</a></li>
        <li><a href="{{url_for('register')}}">register</a></li>
        <li><a href="{{url_for('login')}}">Login</a></li>
      </ul>
    </div>
  </div>

</div>

<div id="header-featured" > </div>
<div id="banner-wrapper">
  <div id="banner" class="container">
    <i style="font-weight: normal; font-size: large; font-family: fantasy">Prescriptions on wheels conveniently to you</i><br><br>
  </div>
</div>

<div id="wrapper">
  <div id="featured-wrapper">
    <div class="extra2 margin-btm container">
    </div >

  </div>
</div>

<div id="copyright" class="container">
  <p>&copy; Untitled. All rights reserved. | Photos by <a href="https://images.google.com/">GoogleImage</a> | Design by <a href="http://templated.co" rel="nofollow">TEMPLATED</a>.</p>
</div>

{% endblock %}
