{% extends 'header.html' %}
{% block body %}

<!--The content below is only a placeholder and can be replaced.-->
<div id="header-wrapper">
  <div id="header" class="container">

    <div class="rxlogo">
        <img src="../static/images/rx2ulogo.png" style="width: 130px; height: 85px;">
    </div>
    <div id="logo">
      <strong style="font-family: 'Comic Sans MS'; color: #ED7070;;font-weight: bolder; font-size: 45px"> Rx2U </strong><br>
    </div>

    <div id="menu">
      <ul>
        {% if username %}
        <li><a href="{{url_for('user')}}">Home</a></li>
        {% else %}
        <li><a href="{{url_for('home')}}">Home</a></li>
        {% endif %}
        <li><a href="{{url_for('requestpickup')}}">Rx Pickup</a></li>
        <li><a href="{{url_for('orderstatus')}}">Order Status</a></li>
        <li><a href="{{url_for('about')}}">About</a></li>
      </ul>
    </div>
  </div>

</div>

<div id="banner-wrapper">
  <div id="banner" class="container">
    <i style="font-weight: normal; font-size: large; font-family: fantasy">Prescriptions on wheels conveniently to you</i><br><br>
  </div>
</div>

<div id="wrapper">
  {% if username %}
  <p style="color: blue; padding-left:20px">Welcome {{username}}! <a href="{{url_for('home')}}">Logout</a></p>
  {% endif %}
  <div id="featured-wrapper">
    <div class="extra2 margin-btm container">

      <div class="ebox1">
        <div class="title">
          <h2>Your order info:</h2>

          <fieldset>
            Order number: <strong>{{orderNum.upper()}}</strong>
            <br>
            Name: {{fullName}}
            <br>
            Phone: {{phone}}
            <br><br>
            Thanks for placing the service!
            <br><br>
            {% if username %}
            <a href="{{url_for('user')}}"><input type="button" class="button" value="Close"></input></a>
            {% else %}
            <a href="{{url_for('home')}}"><input type="button" class="button" value="Close"></input></a>
            {% endif %}
          </fieldset>
        </div>
      </div>


      <div class="ebox2">
        <div class="title">
          <span class="byline" style="text-align: left; font-weight: 800">We'll be in contact with your Pharmacy...</span>
          <br><br>
          <img src="../static/images/pharmacy1.jpg">
        </div>

      </div>


    </div >
  </div>
</div>

<div id="copyright" class="container">
  <p>&copy; Untitled. All rights reserved. | Photos by <a href="https://images.google.com/">GoogleImage</a> | Design by <a href="http://templated.co" rel="nofollow">TEMPLATED</a>.</p>
</div>

{% endblock %}
