{% extends 'header.html' %}
{% block body %}

<title>Order Status</title>
<div id="header-wrapper">
  <div id="header" class="container">

    <div class="rxlogo">
        <img src="../static/images/rx2ulogo.png" style="width: 130px; height: 85px;">
    </div>
    <div id="logo">
      <strong style="font-family: 'Comic Sans MS'; color: #ED7070;;font-weight: bolder; font-size: 45px"> Rx2U </strong><br>
    </div>

    <div id="menu">
      <ul>
        {% if username %}
        <li><a href="{{url_for('user')}}">Home</a></li>
        {% else %}
        <li><a href="{{url_for('home')}}">Home</a></li>
        {% endif %}
        <li><a href="{{url_for('requestpickup')}}">Rx Pickup</a></li>
        <li><a href="{{url_for('orderstatus')}}">Order Status</a></li>
        <li><a href="{{url_for('about')}}">About</a></li>
      </ul>
    </div>
  </div>
</div>

<!--Flash messages from app.py-->
{% with messages = get_flashed_messages() %}
 {% if messages %}
       {% for message in messages %}
       <p style="color: blue">{{ message }}</p>
       {% endfor %}
 {% endif %}
{% endwith %}

<div id="banner-wrapper">
  <div id="banner" class="container">
    <i style="font-weight: normal; font-size: large; font-family: fantasy">Prescriptions on wheels conveniently to you</i><br><br>
  </div>
</div>

<div id="wrapper">
  {% if username %}
  <p style="color: blue; padding-left:20px">Welcome {{username}}! <a href="{{url_for('home')}}">Logout</a></p>
  {% endif %}
  <div id="featured-wrapper">
    <div class="extra2 margin-btm container">

      <div class="ebox3"style="width: 1020px; padding-left: 80px" >
        <div class="title">
          <h2 style="padding-left: 60px">User Dashboard</h2>
        </div>
        <fieldset>
          <div class="stat" style="padding-left: 10px">
            <table >
              <tr >
                <th style="width: 120px">
                  Date
                </th>
                <th>
                  Order
                </th>
                <th>
                  Phone
                </th>
                <th>
                  First
                </th>
                <th>
                  Last
                </th>
                <th>
                  Status
                </th>
                <th>
                  Action
                </th>
              </tr>

            </tr {% for row in orderinfo %}>
              <td style="width:60px">
                {{row["order_date"]}}
              </td>
              <form action="{{url_for('user')}}" method="post">
              <td>
                <input style="border: none; width:60px" name="orderNum" value="{{row["order_num"].upper()}}">
              </td>
              <td>
                <input style="border: none; width:100px" name="phone" value="{{row["cust_phone"]}}">
              </td>
              <td>
                {{row["first"]}}
              </td>
              <td>
                {{row["last"]}}
              </td>
              <td>
                {{row["status"]}}
              </td>
              <td {% if row["status"] == 'Arrived' %}>
                <input type="submit" name="method" value="Receive" >
              </td {% endif %}>
            </form>
            </tr {% endfor %}>
            </table>
          </div>

        </fieldset>
      </div>
    </div >
  </div>
</div>

<div id="copyright" class="container">
  <p>&copy; Untitled. All rights reserved. | Photos by <a href="https://images.google.com/">GoogleImage</a> | Design by <a href="http://templated.co" rel="nofollow">TEMPLATED</a>.</p>
</div>

{% endblock %}
